.dresult {
  position: relative;
  background-color: #005ea5;
  color: #fff;
  padding: 4px;
  margin: 10px 0;
}

.dresult::before{
  position: absolute;
  display: block;
  content: '';
  top: -10px;
  left: 50%;
  width: 2px;
  height: 10px;
  background-color: #000;
}