
.dquestiontable {
  width: 100%;
}

.dquestiontable td {
  border: none;
  text-align: center;
}

.dquestion {
  padding: 10px 0 20px 0;
  position: relative;
}

.dquestion a {
  color: inherit;
  text-decoration: none;
}

.dquestion::before{
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #000;
}

.dquestion h2 {
  font-size: 14px;
  margin: 0;
  padding: 8px 16px;
  position: relative;
  background-color: #eee;
  display: inline-block;
  font-weight: normal;
  cursor: pointer;
}

.dquestion h2:hover {
  /*color: #fff;*/
  background-color: #9f9;
}

.dquestion__addanswer {
  position: absolute;
  left: calc(50% + 4px);
  bottom: 2px;
  width: 16px;
  height: 16px;
  font-size: 12px;
  background-color: #0f0;
  border-radius: 8px;
}

.dquestion__addanswer:hover {
  background-color: #090;
  color: #fff;
}



.dquestion__hint {
  position: relative;
  z-index: 1;
  font-size: 10px;
  background-color: #fff;
  line-height: 1;
  display: block;
  margin: 2px 0;
}

.dquestion__err {
  position: relative;
  z-index: 1;
  font-size: 10px;
  color: #f00;
  background-color: #fff;
  line-height: 1;
  display: block;
  margin: 2px 0;
}



.dquestion__addoption {
  background-color: #138213;
  color: #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 2px;
  left: calc(50% - 8px);
  border-radius: 10px;
  text-align: center;
  border: none;
  opacity: 0.1;
  transition: opacity 0.25s;
  cursor: pointer;
}

.dquestion:hover .dquestion__addoption {
  opacity: 1;
}

.dquestion__addoption::before {
  content: '';
  width: 2px;
  height: 10px;
  position: absolute;
  left: 7px;
  top: 3px;
  background-color: #fff;
}

.dquestion__addoption::after {
  content: '';
  width: 10px;
  height: 2px;
  position: absolute;
  left: 3px;
  top: 7px;
  background-color: #fff;
}

.dquestion__slug {
  position: relative;
  font-size: 10px;
  display: block;
  background-color: #fff;
  z-index: 10;
}