
.doption {
  min-width: 100px;
}

.doption h3 {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
  margin: 0;
  border-width: 1px;
  border-style: dotted;
  border-color: #ccc;
  padding: 4px 8px;
}

.doption h3:hover {
  color: #0c0;
}

.doption a {
  color: inherit;
  text-decoration: none;
}

.doption--outer::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.doptions--x1 .doption--outer::before {
  content: none;
}

.doption--outer::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  width: 2px;
  height: 10px;
  margin-left: -1px;
  background-color: #000;
}

.doption--outer:first-child::before {
  left: 50%;
  width: 50%;
}

.doption--outer:last-child::before {
  width: 50%;
}

.doption__hint {
  position: relative;
  z-index: 1;
  font-size: 10px;
  background-color: #fff;
  line-height: 1;
  display: block;
  margin: 2px 0;
  max-height: 20px;
  overflow: hidden;
}

.doption__hint:hover {
  max-height: 100%;
}

.doption__slug {
  position: relative;
  font-size: 10px;
  z-index: 10;
  background-color: #fff;
  display: block;
  margin-top: 10px;
}

.doption__endoptions {
  position: relative;
  text-align: center;
  /*
  opacity: 0.5;
  transition: opacity 0.25s;
  */
  padding: 10px 0;
}

/*
.doption:hover>.doption__endoptions {
  opacity: 1;
}
*/

.doption__endoptions::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  width: 2px;
  height: 40px;
  margin-left: -1px;
  background-color: #f00;
}

a.doption__link {
  position: relative;
  display: block;
  padding: 4px;
  font-size: 12px;
  color: #fff;
  background-color: #f00;
  margin-bottom: 10px;
  line-height: 1;
  z-index: 10;
}

a.doption__link:hover {
  background-color: #c00;
}
