
.doption {
  min-width: 100px;
}

.doption h3 {
  display: inline-block;
  font-weight: normal;
  font-size: 12px;
}

.doption h3:hover {
  color: #0c0;
}

.doption a {
  color: inherit;
  text-decoration: none;
}

.doption__endoptions {
  text-align: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.doption:hover>.doption__endoptions {
  opacity: 1;
}

.doption__endbutton {
  font-size: 14px;
}

.doption--outer::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.doption--outer::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  width: 2px;
  height: 10px;
  background-color: #000;
}

.doption--outer:first-child::before {
  left: 50%;
  width: 50%;
}

.doption--outer:last-child::before {
  width: 50%;
}

.doption__hint {
  position: relative;
  z-index: 1;
  font-size: 10px;
  background-color: #fff;
  line-height: 1;
  display: block;
  margin: 2px 0;
  max-height: 20px;
  overflow: hidden;
}

.doption__hint:hover {
  max-height: 100%;
}

