.editwindow {
  position: absolute;
  top: -15px;
  left: 100%;
  width: 50%;
  overflow: hidden;
  background-color: rgba(160, 160, 160, 0.5);
  transition: left 0.25s;
  /*transition: width 0.25s;*/
  
  box-sizing: border-box;
  
  z-index: 100;
}

.editwindow--open {
  left: 0%;
  width: 100%;
}

.editwindow__inner {
  display: none;
  padding: 20px;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #ccc;
  height: 100%;
  box-sizing: border-box;
}

.editwindow--open .editwindow__inner {
  position: relative;
  left: 50%;
  width: 50%;
  background-color: #fff;
}

.editwindow--open .editwindow__inner{
  display: block;
}