
.framework__status--active {
  color: #fff;
  background-color: var(--govuk-colour--light-green);
}

.framework__status--expired {
  color: #fff;
  background-color: var(--govuk-colour--red);
}

.framework__status--expiryimminent {
  color: #fff;
  background-color: var(--govuk-colour--bright-red);
}

.framework__status--expirysoon {
  color: #fff;
  background-color: var(--govuk-colour--orange);
}

.framework__status--expirywarning {
  color: #000;
  background-color: var(--govuk-colour--yellow);
}


.govuk-form-group--body textarea.govuk-textarea {
  min-height: 300px;
}

.frameworkeditor_links td label {
  display: none;
}

.frameworkeditor_links td .govuk-form-group {
  margin-bottom: 0;
}

.framework__warning--blank {
  padding: 1px 5px;
  color: #000;
  background-color: var(--govuk-colour--yellow);
}
