
.answer {
  min-width: 100px;
}

.answer h3 {
  font-weight: normal;
  font-size: 12px;
}

.answer h3:hover {
  color: #0c0;
}

.answer a {
  color: inherit;
  text-decoration: none;
}

.answer--outer::before {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.answer--outer::after {
  position: absolute;
  display: block;
  content: '';
  top: 0;
  left: 50%;
  width: 2px;
  height: 10px;
  background-color: #000;
}

.answer--outer:first-child::before {
  left: 50%;
  width: 50%;
}

.answer--outer:last-child::before {
  width: 50%;
}

.answer__hint {
  position: relative;
  z-index: 1;
  font-size: 10px;
  background-color: #fff;
  line-height: 1;
  display: block;
  margin: 2px 0;
  max-height: 20px;
  overflow: hidden;
}

.answer__hint:hover {
  max-height: 100%;
}

