.App {
  text-align: center;
}

.btn {
  min-width: 100px;
  display: inline-block;
  background-color: #fff;
  padding: 4px 8px;
  margin: 4px 4px 4px 0;
  text-align: center;
  text-decoration: none;
  color: #000;
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
}

.btn--red {
  color: #fff;
  background-color: #c00;
  border-color: #900;
}

.btn--red:hover {
  background-color: #a00;
}

.btn--grey {
  color: #fff;
  background-color: #666;
  border-color: #333;
}

.btn--grey:hover {
  background-color: #333;
}

.btn--green {
  color: #fff;
  background-color: #090;
  border-color: #030;
}

.btn--green:hover {
  background-color: #060;
}

.ref {
  font-size: 10px;
  display: inline-block;
  padding: 2px 10px;
  background-color: #eee;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
  border-radius: 4px;
}

.orphans {
  text-align: left;
  padding: 20px;
}

.orphans__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.orphans li {
  margin: 0;
  padding: 0;
  list-style: none; 
}