.app {
  position: relative;
}

.govuk-width-container.app-width-container {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.govuk-main-wrapper.app-main-wrapper {
  padding-top: 10px;
}

textarea.govuk-textarea {
  margin-bottom: 0;
  min-height: 100px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid grey;
  padding: 4px;
}

.button {
  text-decoration: none;
  background-color: #eee;
  color: #000;
  padding: 5px 10px;
  margin: 10px 0;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  height: 30px;
}

td .button {
  margin: 0;
}

.button--small {
  padding: 0px 10px;
  font-size: 13px;
  height: 20px;
}

.button + .button {
  margin-left: 20px;
}

.button:hover {
  background-color: #ccc;
}

.button--green {
  background-color: green;
  border-color: darkgreen;
  color: #fff;
}

.button--green:hover {
  background-color: darkgreen;
}

.button--red {
  background-color: #c00;
  border-color: #900;
  color: #fff;
}

.button--red:hover {
  background-color: #900;
}