.result__link {
  display: block;
  border-color: #b9e0f7;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  background-color: #e1f4ff;
}

.result__link--exists {
  border-color: #a9dcc0;
  background-color: #bdf5d6;
}

.result__title {
  display: block;
  font-size: 10px;
}

.result__cat {
  display: block;
  font-size: 10px; 
}

.result__cat--error {
  color: #f00;
}